---
layout: default
---



<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-2 mb-1">Resources</h3>
    {{ content }}

    {% assign all_resources = site.data.resources.index %}
    {% assign course_resources = all_resources | where: "course", true %}
    {% assign course_resources = course_resources | sort: "institution" %}
    {% assign noncourse_resources = all_resources | where: "course", false %}


    {% for resource in noncourse_resources %}
    <ul>
      <li><a href="{{ site.github.url }}/resources/{{resource.url}}">{{ resource.name }}</a></li>
    </ul>
    {% endfor %}

    <h2>Class Resources</h2>
    Below are resources regarding specific courses I have taken that are generally focused around physics, astronomy,
    and math.
    I personally use Notability to take notes on my iPad, but plan to transfer them onto either LaTeX or Markdown in the
    near future.
    When referencing textbooks, I try to link to their abstract on NASA's <a
      href="https://ui.adsabs.harvard.edu">Astrophysics Data System</a>. PDF versions of
    these
    are usually available on the ArXiv.
    However, a student with enough <a href="https://www.semrush.com/blog/google-search-file-type/">Google experience</a>
    will be able to find most textbooks as pdf versions.

    {% assign curr_institution = ""%}
    {% for resource in course_resources %}

    {% if resource.institution != curr_institution %}
    <h3>{{resource.institution}}</h3>
    {% assign curr_institution = resource.institution %}
    {% endif %}
    <ul>
      <li><a href="{{ site.github.url }}/resources/{{resource.url}}">{{ resource.name }}</a></li>
    </ul>
    {% endfor %}

  </div>
</div>